.view
  .channel
    ul
      li(v-for="(channel) in channels")
        router-link(:to="{name: 'channel', params: { channelName: channel }}") {{ channel }}
  .channel-name {{ $route.params.channelName }}
  .messages
  .form
