.view
  .channel
    ul
      li(v-for="(channel) in channels")
        router-link(:to="{name: 'channel', params: { channelName: channel }}") {{ channel }}
  .channel-name {{ $route.params.channelName }}
  .messages
    ul
      li(v-for="(message) in messages")
        .message {{message.body}}
        .date {{message.date}}
        .name {{message.user.name}}
  .form
    input(type="text" v-model="message")
    input(type="button" value="SEND" @click="sendMessage")
